MONGODB_URI=mongodb://simon:kopihitam123@ac-5hrezbt-shard-00-00.pur5l0h.mongodb.net:27017,ac-5hrezbt-shard-00-01.pur5l0h.mongodb.net:27017,ac-5hrezbt-shard-00-02.pur5l0h.mongodb.net:27017/berjo_kasir?ssl=true&replicaSet=atlas-huuzqk-shard-0&authSource=admin&retryWrites=true&w=majority